<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Hi, I'm Peter Stahr. I'm a creative technologist with a passion for games, storytelling, and building experiences that resonate with everyone. I aspire to join a game studio that values empathy, collaboration, and innovation, and I'm eager to contribute wherever I can make an impact —whether in design, development, content creation, or community engagement.

            </p>
            <p class="paragraph-text justify-text">
                Currently, I'm pursuing a BA in Interactive Digital Studies with a minor in Computer Science at the University of Northern Iowa, graduating Spring 2026. The program allows me to combine two areas of focus, Computer Science and Digital Media, giving me a unique blend of technical and creative expertise.
            </p>
            <p class="paragraph-text justify-text">
                Whether I'm animating a trailer, coding a prototype, or crafting a social media campaign, I bring curiosity, adaptability, and a collaborative spirit to every project.
            </p>
            <p class ="emphasized-header center-align">
                Want to come into contact with me? Head to the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
