<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            
                <div class="project-technologies">

                    <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">Featured</a>
                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">All</a>
                    <a id="flyersPosts" class="semi-transparent-button with-border white-button" onclick="selected('flyersPosts')">Flyers & Posts</a>
                    <a id="photoVideo" class="semi-transparent-button with-border white-button" onclick="selected('photoVideo')">Photo & Video</a>
                    <a id="animationModeling" class="semi-transparent-button with-border white-button" onclick="selected('animationModeling')">Animation & Modeling</a>
                    <a id="webDesign" class="semi-transparent-button with-border white-button" onclick="selected('webDesign')">Web Design</a>
                    <!-- Potential alternative organization
                     Featured, All, Flyers & Posts, Photo & Video, 3D & 2D Animation, Web Design
                     Featured, All, Professional, University, Personal, MISC.
                    -->

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>