body {
  min-width: 360px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.head {

  color: #fff;
  min-height: 100vh;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;

  background: transparent;
}

.head-title {
  display: inline-block;
  -webkit-transition: color ease-in-out 0.3s;
  transition: color ease-in-out 0.3s;
  font-size: 56px;
  font-size: 3.5rem;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.animated {
  -webkit-animation: fade-in-down 0.6s;
          animation: fade-in-down 0.6s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;    
}

@-webkit-keyframes fade-in-down {
	0% {
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		-webkit-transform: translateY(-10px);
		        transform: translateY(-10px);
  }
	100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-down {
	0% {
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		-webkit-transform: translateY(-10px);
		        transform: translateY(-10px);
  }
	100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.head-punchline {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fff;
  margin-top: 10px;
  font-size: 20px;
  font-size: 1.25rem;
}

.head-buttons {
  position: absolute;
  top: 32px;
  top: 2rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.head-icon {
  font-size: 32px;
  font-size: 2rem;  
  margin: 0 5px;
}

.head-buttons a {
  color: inherit;
}

.head-menu-wrap {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);

  display: -ms-grid;

  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-column-gap: 10px;
  
  margin: 0 auto;
}

/* fix this */
.emphasized-header {
  display: inline-block;
  -webkit-transition: color ease-in-out 0.3s;
  transition: color ease-in-out 0.3s;
  font-size: 20px;
  font-size: 1.8rem;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  
}

.justify-text {
  text-align: justify;
}

.progress-bars {
  margin-top: 30px;
}

.skills-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  grid-gap: 20px;
}

.technical-skills {
  width: 90%;
  margin: 0 auto;
}

.center-align {
  text-align: center;
}

.projects-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

.full-width {
  width: 100%;
  max-width: 100%;
}

.section {
  max-width: 768px;
  margin: 60px auto;
  padding: 20px 0;
  min-height: 100vh;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section.skills > div {
  width: 100%;
}

.skills-subsection {
  font-size: 20.8px;
  font-size: 1.3rem;
}

.section-heading {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-size: 2.5rem;
  color: #222;
  font-weight: bold;
}

.nav-links {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.section-wrapper:nth-child(odd) {
  background: url(../images/background.png);
  background-repeat: repeat;
}

.section-wrapper:nth-child(odd) .section-heading {
  color: #fff;
}

.section-wrapper:nth-child(odd) .skills-subsection {
  color: #fff;
}

.section-wrapper:nth-child(odd) .paragraph-text {
  color: #fff;
}

.paragraph-text {
  font-family: 'PT Sans', sans-serif;
  font-size: 20.8px;
  font-size: 1.3rem;
  margin: 30px auto;
  color: #404040;
}

.paragraph-text-normal {
  font-family: 'PT Sans', sans-serif;
  color: #404040;
}

.pt-sans-font {
  font-family: 'PT Sans', sans-serif;
}

.skill-grid-item {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


.projects-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-auto-rows: auto;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer {
  background-color: #444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 35px;
  color: #fff;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;

  background: url(../images/background.png);
  background-repeat: repeat;
  background-attachment: fixed;
}

.footer-text a {
  color: inherit;
}

.technologies-grid-item {
  width: 96.6666px;
  height: 96.6666px;
  background-color: #fff;
}

.project-card {
  padding: 10px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  color: #222;
}

.project-title {
  font-weight: bold;
  font-size: 20px;
  font-size: 1.25rem;
  font-family: Arial, sans-serif;
  margin: 10px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-link {
  margin: 10px 0;
  float: right;
  font-weight: 500;
  font-size: 16px;
  font-size: 1rem;
}

.project-tags {
  margin: 20px 0;
}

.project-tag-item {
  background-color: #444;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
}

.post-date {
  float: right;
}

.blog-item {
  padding: 10px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.blog-title {
  font-size: 17.6px;
  font-size: 1.1rem;
  color: inherit;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.more-blogs {
  font-size: 16px;
  font-size: 1rem;
  margin: 15px 0 20px;
}

.slightly-smaller-text {
  font-size: 14.4px;
  font-size: 0.9rem;
}

.extra {
  margin-bottom: 0px;
}

.experience-title {
  font-size: 22.4px;
  font-size: 1.4rem;
  font-weight: bold;
}

.profile-pic {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  border: solid 2px white;
}

.profile-pic:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0 0px 16px 0 rgba(255,255,255,0.5);
}

.profile-pic-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.experience-details {
  font-size: 20.8px;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience-date {
  float: right;
  font-size: 17.6px;
  font-size: 1.1rem;
}

#nav {
  background: url(../images/background.png);
  background-repeat: repeat;
}

a {
  color: #222;
}

.extra-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

.head-inner-wrap {
  
}

.bottom-link {
  margin: 0 5px;
}

.project-technologies {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(120px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  margin: 20px 0;
  grid-gap: 5px;
  grid-row-gap: 10px;
  width: 100%;
}

.project-technology {
  border: 1px solid #222;
  border-radius: 2px;
  margin: 0 5px;
  padding: 3px 5px;
}

.project-technology:first-child {
  margin-left: 0px;
}

.project-technology:last-child {
  margin-right: 0px;
}

/* Here follow all the media queries */
@media screen and (max-width: 850px) {

  .section {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 775px) {
  .project-technologies {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 20px auto;
  }
}

@media screen and (max-width: 600px) {

  .head-menu-wrap {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 80%;
  }

  #nav {
    background-attachment: unset;
  }

  .head-title {
    display: block;
    text-align: center;
    font-size: 2.75rem;
  }
  
  .head-punchline {
    text-align: center;
  }

  .skills-grid {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }

  .set-size {
    font-size: 8em;
  }
  .pie-wrapper .label {
    font-size: 0.9rem;
    top: 3rem;
  }
  
  .projects-grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }

  .projects-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-height: 450px) and (max-width: 600px) {
  .head {
    min-height: 525px;
  }
}

@media screen and (max-width: 400px) {
  .head-menu-wrap {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

@media screen and (max-height: 525px) {

  .head {
    min-height: 500px;
  }

  .head-menu-wrap {
    bottom: 15px;
  }
}

/* Modal Styles */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  overflow-y: auto;
}

.modal-content {
  position: relative;
  background-color: #fff;
  margin: 5% auto;
  padding: 0;
  width: 90%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  color: #999;
  z-index: 1001;
  padding: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close:hover {
  color: #000;
}

.modal-body {
  padding: 40px 30px 30px;
}

.modal-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 20px;
}

.modal-gallery-section {
  margin-bottom: 30px;
}

.gallery-section-title {
  font-size: 18px;
  color: #333;
  margin: 0 0 15px 0;
  font-weight: 600;
}

.gallery-main {
  position: relative;
  background-color: #f5f5f5;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 15px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-item {
  display: none;
  width: 100%;
  height: 100%;
}

.gallery-item.active {
  display: block;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-prev,
.gallery-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 12px 16px;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.gallery-prev:hover,
.gallery-next:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.gallery-prev {
  left: 10px;
}

.gallery-next {
  right: 10px;
}

.gallery-counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
}

.gallery-thumbnails {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  padding: 8px 0;
}

.gallery-thumbnail {
  flex: 0 0 60px;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid transparent;
  object-fit: cover;
  transition: border-color 0.3s ease, transform 0.2s ease;
}

.gallery-thumbnail:hover {
  transform: scale(1.05);
}

.gallery-thumbnail.active {
  border-color: #007bff;
}

.gallery-image {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.gallery-image:hover {
  transform: scale(1.02);
}

.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.lightbox-content {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox-image {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 4px;
}

.lightbox-close {
  position: absolute;
  top: 20px;
  right: 30px;
  background: none;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
  z-index: 10000;
  transition: color 0.2s ease;
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox-close:hover {
  color: #ccc;
}

.modal-title {
  font-size: 28px;
  margin: 20px 0 15px;
  color: #333;
}

.modal-description {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 20px;
}

.modal-extended-section {
  background-color: #f9f9f9;
  border-left: 4px solid #007bff;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.extended-title {
  font-size: 18px;
  color: #333;
  margin: 0 0 12px 0;
  font-weight: 600;
}

.extended-content {
  font-size: 15px;
  line-height: 1.7;
  color: #555;
}

.extended-content p {
  margin: 0;
}

.extended-content p + p {
  margin-top: 12px;
}

.modal-technologies {
  margin-bottom: 25px;
}

.modal-technologies strong {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-size: 14px;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tech-badge {
  display: inline-block;
  background-color: #f0f0f0;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
  color: #555;
  border: 1px solid #ddd;
}

.modal-links {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.modal-button {
  flex: 1;
  min-width: 150px;
  padding: 12px 20px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-block;
  cursor: pointer;
}

.github-button {
  background-color: #333;
  color: #fff;
}

.github-button:hover {
  background-color: #555;
}

.demo-button {
  background-color: #007bff;
  color: #fff;
}

.demo-button:hover {
  background-color: #0056b3;
}

.project-card {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 600px) {
  .modal-content {
    width: 95%;
    margin: 10% auto;
  }

  .modal-body {
    padding: 30px 20px 20px;
  }

  .modal-close {
    right: 15px;
    top: 15px;
    font-size: 28px;
  }

  .modal-title {
    font-size: 24px;
  }

  .modal-button {
    min-width: 130px;
    padding: 10px 15px;
  }

  .tech-list {
    gap: 6px;
  }

  .tech-badge {
    font-size: 12px;
    padding: 5px 10px;
  }
}